[Unit]
Description=Mycelium Live Server (live.mycelium.social)
Wants=network.target

[Service]
ExecStart=/usr/local/bin/bun run /app/live/server.ts
WorkingDirectory=/app/live
Environment=PORT=8085
EnvironmentFile=-/app/live/.env
Restart=always
User=root
Type=simple
TimeoutStopSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
