[Unit]
Description=Mycelium Live Web Server (live.mycelium.social)
Wants=network.target
After=ome.service

[Service]
ExecStart=/usr/local/bin/bun run /app/live/server.ts
WorkingDirectory=/app/live
Environment=PORT=8085
Environment=OME_API_HOST=127.0.0.1
Environment=OME_API_PORT=8081
Environment=OME_API_USER=admin
Environment=OME_API_PASS=admin
Restart=always
User=root
Type=simple
TimeoutStopSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
