[Unit]
Description=mycelium.social frontend
Wants=network.target

[Service]
ExecStart=/usr/local/bin/bun run /app/mycelium/src/server/index.ts
WorkingDirectory=/app/mycelium
Restart=always
User=root
EnvironmentFile=-/app/mycelium/.env
Environment=NODE_ENV=production
Type=simple
TimeoutStopSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
