[Unit]
Description=First Run MariaDB bootstrap script
After=network.target
# Don't require mariadb — firstrun.sh handles initialization if datadir is empty

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firstrun.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target