[Unit]
Description=Core Lightning
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'ulimit -l unlimited && exec /usr/local/bin/lightningd --conf=/home/lightning/.lightning/config --lightning-dir=/home/lightning/.lightning --log-file=/home/lightning/.lightning/bitcoin/cln.log'
Restart=on-failure
RestartSec=30
TimeoutStopSec=300
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
