[Unit]
Description=Core Lightning
After=network.target

[Service]
Type=simple
User=lightning
Group=lightning
ExecStart=/usr/local/bin/lightningd --conf=/home/lightning/.lightning/config --lightning-dir=/home/lightning/.lightning
Restart=on-failure
RestartSec=30
TimeoutStopSec=300
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
